.rst-content dl:not(.docutils) .property {
  display: none;
}

.wy-nav-content a:visited {
  color: #2980B9;
}

.wy-side-nav-search, .wy-nav-top,
.wy-nav-side,
.rst-content .note .admonition-title
{
  background: #00ACFC;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption
{
  color: #fff;
}

.wy-side-nav-search .icon {
  margin-bottom: 0px;
}

.icon .logo::before {
  display: none;
}
.wy-menu-vertical a
{
  color: rgb(255, 255, 255, 0.7)
}

.wy-side-nav-search > div.version
{
  color: rgb(255, 255, 255, 0.7)
}

.highlight {
  background: #f9fdff;
}

.wy-side-nav-search > a:hover, .wy-side-nav-search .wy-dropdown > a:hover
{
  background: #00ACFC;
}

.rst-content .document .caption {
  display: none;
}

/* Expand main content area */
@media (min-width: 1200px) {
  .wy-nav-content {
      max-width: 1000px;
  }
}

/* Wrap cells in tables */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

/* Prevents bullet point items to be too big */
.rst-content table.docutils td li p,
.rst-content table.docutils th li p,
.rst-content table.field-list td li p,
.rst-content table.field-list th li p,
.wy-table td li p,
.wy-table th li p{
  font-size:100%;
}

/* Pushes bullet points to the left in tables */
.rst-content table.docutils td li ,
.rst-content table.docutils th li ,
.rst-content table.field-list td li ,
.rst-content table.field-list th li ,
.wy-table td li ,
.wy-table th li {
  margin-left: 16px;
}
